/*Estilos Footer*/
/*Tamaño y color footer*/
footer {
    background-color: #000000;
    height: 45vh;
}

/*Logos redes sociales*/
.logotipofooter {
    width: 2rem;
    height: auto;
    object-fit: cover;
    margin-top: 0.5rem;
}

.parrafo_footer {
    color: $colorblanco;
    text-align: center;
    text-decoration: underline;
    margin-top: 4rem;
}

.ordenarfooter {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.ordenar_logos {
    display: flex;
}

.link_footer {
    color: $colorblanco;
    font-size: 1.2rem;
    margin-left: 1rem;
}